.form {
  max-width: 450px;
  margin: 0 auto;
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  color: #fff;
}

.label span {
  margin-bottom: 10px;
}

.reg_btn {
  background-color: transparent;
  border: 1px solid #ff5277;
  color: #ff5277;
  text-transform: uppercase;
  padding: 10px 50px;
  cursor: pointer;
  margin: 20px auto;
}

.reg_btn:hover,
.reg_btn:focus {
  background-color: #ff5277;
  border: 1px solid transparent;
  color: #fff;
}

.input {
  color: #111;
  padding: 10px 20px;
  font-size: 18px;
}

.link {
  color: #ff5277;
  text-decoration: underline;
  padding: 2px 5px;
}

.link:hover,
.link:focus {
  color: #fff;
  background-color: #ff5277;
}

.singin_heading {
  display: flex;
  justify-content: center;
}

.footer {
  padding: 30px 0px;
  background-color: #0e141c;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 2.5rem;
}

.social_cont {
  display: flex;
  flex-direction: column;
  column-gap: 15px;
  margin: 0 60px;
}

.social_link {
  text-decoration: none;
  color: #fff;
  font-size: 22px;
}

.footerLogo {
  color: #fff;
  font-size: 48px;
  font-family: "Fredoka";
  text-decoration: none;
}

.error_message {
  background-color: #ff5277;
  width: 100%;
  color: #fff;
  padding: 40px 0px;
  padding-right: 0px;
  text-align: center;
  border-radius: 0px;
  position: absolute;
  right: 0px;
  top: 0;
  filter: drop-shadow(2px 11px 10px #000000);
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.close_button {
  display: none;
}

@media screen and (min-width: 1200px) {
  .footer {
    padding: 30px 0px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
  }

  .error_message {
    background-color: #ff5277;
    max-width: 300px;
    color: #fff;
    padding: 20px 30px;
    padding-right: 35px;
    text-align: center;
    border-radius: 15px;
    position: absolute;
    right: 30px;
    top: 6rem;
    filter: drop-shadow(2px 11px 10px #000000);
  }

  .close_button {
    background-color: transparent;
    border: none;
    border-left: 2px solid #fff;
    color: #fff;
    cursor: pointer;
    border-radius: 50px;
    padding: 2px 5px;
    position: absolute;
    right: 0px;
    top: 0;
    font-size: 16px;
    height: 100%;
    display: block;
  }
}
