@font-face {
    font-family: 'Fredoka';
    src: url('Fredoka-Regular.ttf');
    src: local('Fredoka Regular'), local('Fredoka-Regular'),
        url('Fredoka-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'AdonisC';
    src: url('AdonisC.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Academy';
    src: url('Academy.ttf');
    src: local('Academy'), local('Academy'),
    url('Academy.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}