body {
  background: #fff;
  scroll-behavior: smooth;
}

body.menu-open{
  overflow: hidden;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h2{
  text-align: center !important;
}

h3, h4, h5{
  text-align: start;
}

iframe{
  width: 800px;
  height: 500px;
}