.profile_icon {
  max-width: 33px;
}

.navList {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
  right: 0px;
  top: 80px;
  position: absolute;
  width: 100vw;
  height: 100vh;
  transition: all 1s;
  z-index: 10;
  padding-top: 20px;
  background-color: #0e141c;
}

.link {
  color: #fff;
  text-decoration: none;
  padding-bottom: 7px;
  font-weight: 500;
  font-size: 18px;
}

.activeLink {
  color: #fff;
  text-decoration: none;
  padding-bottom: 7px;
  font-weight: 500;
  border-bottom: 3px solid #fff;
  font-size: 18px;
}

.linkButton {
  background-color: transparent;
  color: #fff;
  text-decoration: none;
  padding-bottom: 7px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  font-size: 18px;
  padding: 0;
}

.dropdown {
  background-color: transparent;
  border: none;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
  padding: 0 0 7px 0;
  position: relative;
  padding-top: 3px;
}

.menu {
  position: static;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 150px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu > li {
  margin: 0;
  padding: 10px;
  background-color: #0e141c;
  font-size: 18px;
  font-weight: 500;
}

.menu > li:hover {
  background-color: #151f2b;
}

.theme_toggle {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.toggleImg {
  width: 25px;
}

.login {
  background-color: transparent;
  border: 1px solid #ff5277;
  color: #ff5277;
  text-transform: uppercase;
  padding: 5px 10px;
  cursor: pointer;
  margin: 20px auto;
}

.login:hover,
.login:focus {
  background-color: #ff5277;
  border: 1px solid transparent;
  color: #fff;
}

@media screen and (min-width: 1200px) {
  .navList {
    flex-direction: row;
    column-gap: 30px;
    row-gap: 0;
    position: static;
    padding: 0;
    width: 100%;
    height: 100%;
  }

  .menu {
    position: absolute;
    flex-direction: row;
    justify-content: space-between;
    top: 90px;
    left: 0;
    margin: 0;
    width: 100%;
    padding: 0;
  }

  .menu > li {
    margin: 0;
    padding: 10px;
    background-color: #0e141c;
    border-bottom: 1px solid #575757;
    width: 100%;
  }

  .menu a {
    justify-content: center;
  }

  .moreButton{
    display: none;
  }
}
